Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: Lint code with Ruff
  entry: ruff check
  language: system
  require_serial: true

ruff-format:
  name: Format code with Ruff
  entry: ruff format
  language: system
  require_serial: true

Replace charging-settings with charge-settings
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Update
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_data/charge-schedule.scheduled.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.multi.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.single.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Cleanup
  src/renault_api/kamereon/helpers.py
  src/renault_api/kamereon/models.py
  src/renault_api/kamereon/schemas.py
  tests/kamereon/test_kamereon_vehicle_action.py
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format

Adjust
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format

Update
  src/renault_api/cli/charge/schedule.py
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/kamereon/test_kamereon_vehicle_action.py
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format

Update
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/cli/test_vehicle.py
Due: ruff-check, ruff-format

Adjust
  src/renault_api/cli/charge/schedule.py
  src/renault_api/kamereon/helpers.py
  src/renault_api/kamereon/models.py
  src/renault_api/kamereon/schemas.py
  src/renault_api/renault_vehicle.py
  tests/fixtures/kamereon/vehicle_data/charging-settings.multi.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.single.json
Due: ruff-check, ruff-format

More
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle.py
  tests/cli/test_vehicle_charge.py
  tests/fixtures.py
  tests/kamereon/test_kamereon_vehicle_action.py
  tests/kamereon/test_kamereon_vehicle_data.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Adjust
  docs/endpoints/vehicle_kcm_data.ev-settings.rst
  docs/endpoints/vehicle_kcm_data.soc-levels.rst
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_data/charge-schedule.scheduled.json
  tests/fixtures/kamereon/vehicle_kcm_data/ev-settings.empty.json
  tests/fixtures/kamereon/vehicle_kcm_data/ev-settings.single.json
  tests/fixtures/kamereon/vehicle_kcm_data/ev-soc-levels.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Adjust
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
Due: none

Adjust
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Adjust
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Use alternate charge-schedule for KCM (#1553)
  docs/endpoints/vehicle_kcm_data.ev-settings.rst
  docs/endpoints/vehicle_kcm_data.soc-levels.rst
  src/renault_api/cli/charge/schedule.py
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_kcm_data/ev-settings.empty.json
  tests/fixtures/kamereon/vehicle_kcm_data/ev-settings.single.json
  tests/fixtures/kamereon/vehicle_kcm_data/ev-soc-levels.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Add support for horn-lights endpoints
  docs/endpoints.rst
  docs/endpoints/vehicle_action.horn-lights.rst
Due: none

Add ability to run raw HTTP requests from RenaultVehicle
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format

Add tests
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Add support for horn-lights endpoints (#1554)
  docs/endpoints.rst
  docs/endpoints/vehicle_action.horn-lights.rst
Due: none

Add ability to run raw HTTP requests from RenaultVehicle (#1555)
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Drop get_charging_settings from RenaultVehicle
  src/renault_api/cli/charge/schedule.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Drop get_charging_settings from RenaultVehicle (#1556)
  src/renault_api/cli/charge/schedule.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Drop supports_endpoint from car adapater
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Adjust
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/kamereon/test_kamereon_vehicle_gateway.py
Due: ruff-check, ruff-format

Review supported endpoints (#1557)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/kamereon/test_kamereon_vehicle_gateway.py
Due: ruff-check, ruff-format

Bump version to 0.3.0
  pyproject.toml
Due: check-toml

Bump version to 0.3.0 (#1558)
  pyproject.toml
Due: check-toml

added Zoe 2 and twingo as known endpoints
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

added Zoe 2 and twingo as known endpoints
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: ruff-check, ruff-format

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
