Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: Lint code with Ruff
  entry: ruff check
  language: system
  require_serial: true

ruff-format:
  name: Format code with Ruff
  entry: ruff format
  language: system
  require_serial: true

Add new endpoint for tyre pressure (#1411)
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/models.py
  src/renault_api/kamereon/schemas.py
  src/renault_api/renault_vehicle.py
  tests/cli/test_vehicle.py
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_data/tyre-pressure.json
  tests/kamereon/test_kamereon_vehicle_data.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Bump version to 0.2.9
  pyproject.toml
Due: check-toml

Bump version to 0.2.9 (#1417)
  pyproject.toml
Due: check-toml

Drop support for Python 3.8
  CONTRIBUTING.rst
  README.rst
  noxfile.py
  pyproject.toml
Due: check-toml, ruff-check, ruff-format

Adjust workflow
  .github/workflows/tests.yml
Due: check-yaml

Drop support for Python 3.8 (#1419)
  .github/workflows/tests.yml
  CONTRIBUTING.rst
  README.rst
  noxfile.py
  pyproject.toml
Due: check-toml, check-yaml, ruff-check, ruff-format

Adjust ruff target-version to 3.9
  pyproject.toml
  src/renault_api/cli/__main__.py
  src/renault_api/cli/charge/control.py
  src/renault_api/cli/charge/history.py
  src/renault_api/cli/charge/schedule.py
  src/renault_api/cli/helpers.py
  src/renault_api/cli/hvac/control.py
  src/renault_api/cli/hvac/history.py
  src/renault_api/cli/renault_account.py
  src/renault_api/cli/renault_client.py
  src/renault_api/cli/renault_settings.py
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/credential_store.py
  src/renault_api/gigya/__init__.py
  src/renault_api/gigya/models.py
  src/renault_api/helpers.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/models.py
  src/renault_api/models.py
  src/renault_api/renault_account.py
  src/renault_api/renault_client.py
  src/renault_api/renault_session.py
  src/renault_api/renault_vehicle.py
  tests/cli/test_main.py
  tests/conftest.py
  tests/fixtures.py
  tests/test_renault_vehicle.py
Due: check-toml, ruff-check, ruff-format

Adjust ruff target-version to 3.9 (#1420)
  pyproject.toml
  src/renault_api/cli/__main__.py
  src/renault_api/cli/charge/control.py
  src/renault_api/cli/charge/history.py
  src/renault_api/cli/charge/schedule.py
  src/renault_api/cli/helpers.py
  src/renault_api/cli/hvac/control.py
  src/renault_api/cli/hvac/history.py
  src/renault_api/cli/renault_account.py
  src/renault_api/cli/renault_client.py
  src/renault_api/cli/renault_settings.py
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/credential_store.py
  src/renault_api/gigya/__init__.py
  src/renault_api/gigya/models.py
  src/renault_api/helpers.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/models.py
  src/renault_api/models.py
  src/renault_api/renault_account.py
  src/renault_api/renault_client.py
  src/renault_api/renault_session.py
  src/renault_api/renault_vehicle.py
  tests/cli/test_main.py
  tests/conftest.py
  tests/fixtures.py
  tests/test_renault_vehicle.py
Due: check-toml, ruff-check, ruff-format

Use PEP 604 to replace Optional
  src/renault_api/cli/__main__.py
  src/renault_api/cli/charge/control.py
  src/renault_api/cli/charge/history.py
  src/renault_api/cli/charge/schedule.py
  src/renault_api/cli/helpers.py
  src/renault_api/cli/hvac/control.py
  src/renault_api/cli/hvac/history.py
  src/renault_api/cli/renault_account.py
  src/renault_api/cli/renault_client.py
  src/renault_api/cli/renault_settings.py
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/credential_store.py
  src/renault_api/gigya/exceptions.py
  src/renault_api/gigya/models.py
  src/renault_api/helpers.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/exceptions.py
  src/renault_api/kamereon/models.py
  src/renault_api/renault_account.py
  src/renault_api/renault_client.py
  src/renault_api/renault_session.py
  src/renault_api/renault_vehicle.py
  tests/cli/__init__.py
  tests/conftest.py
Due: ruff-check, ruff-format

Update default Python version to 3.13
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  noxfile.py
  pyproject.toml
Due: check-toml, check-yaml, ruff-check, ruff-format

Adjust
  noxfile.py
Due: ruff-check, ruff-format

Bump cffi
  poetry.lock
  pyproject.toml
Due: check-toml

Bump nodeenv
  poetry.lock
  pyproject.toml
Due: check-toml

Bump typing-extensions
  poetry.lock
  pyproject.toml
Due: check-toml

Add Python 3.13 to CI (#1418)
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, ruff-check, ruff-format

Fix the CLI test for click 8.2
  tests/cli/test_main.py
Due: ruff-check, ruff-format

Update README.rst
  README.rst
Due: none

Added V2L ChargeStatus to enums
  src/renault_api/kamereon/enums.py
Due: ruff-check, ruff-format

Adjust
  README.rst
Due: none

Added missing ChargeStates
  src/renault_api/kamereon/enums.py
Due: ruff-check, ruff-format

Run ruff format
  src/renault_api/renault_vehicle.py
  tests/cli/test_session.py
  tests/kamereon/test_kamereon_vehicle_contract.py
Due: ruff-check, ruff-format

Add examples for raw http calls (#1483)
  README.rst
Due: none

Reorder by value
  src/renault_api/kamereon/enums.py
Due: ruff-check, ruff-format

Fix pre-commit warnings
  .pre-commit-config.yaml
Due: check-yaml

Fix ruff warnings
  src/renault_api/kamereon/__init__.py
  tests/cli/test_vehicle.py
  tests/fixtures.py
Due: ruff-check, ruff-format

Add poetry-plugin-export
  .github/workflows/tests.yml
Due: check-yaml

Update coverage also
  .github/workflows/tests.yml
Due: check-yaml

Fix set-output warning
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: check-yaml

Adjust
  .github/workflows/tests.yml
Due: check-yaml

Adjust
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: check-yaml

Fix CI warnings (#1508)
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  src/renault_api/kamereon/__init__.py
  tests/cli/test_vehicle.py
  tests/fixtures.py
Due: check-yaml, ruff-check, ruff-format

Added V2L ChargeStatus to Kamereon enums (#1507)
  src/renault_api/kamereon/enums.py
Due: ruff-check, ruff-format

Ruff
  tests/cli/test_main.py
Due: ruff-check, ruff-format

Add comment
  tests/cli/test_main.py
Due: ruff-check, ruff-format

Fix the CLI test for click 8.2 (#1480)
  tests/cli/test_main.py
Due: ruff-check, ruff-format

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
