Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ruff-check
        name: Lint code with Ruff
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: Format code with Ruff
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        exclude: \.ambr$
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Release on published GitHub release (#2295)
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, trailing-whitespace

Harden GitHub Actions workflows
  .github/renovate.json
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/stale.yaml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, trailing-whitespace

Harden GitHub Actions workflows (#2296)
  .github/renovate.json
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/stale.yaml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, trailing-whitespace

Add OpenSSF Scorecard workflow
  .github/workflows/scorecard.yml
Due: check-yaml, trailing-whitespace

Add OpenSSF Scorecard workflow (#2297)
  .github/workflows/scorecard.yml
Due: check-yaml, trailing-whitespace

Remove safety
  .github/workflows/linting.yml
  .safety-policy.yml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, trailing-whitespace

Remove safety (#2301)
  .github/workflows/linting.yml
  .safety-policy.yml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, trailing-whitespace

Use covdefaults for coverage configuration
  pyproject.toml
  uv.lock
Due: check-toml, trailing-whitespace

Use covdefaults for coverage configuration (#2298)
  pyproject.toml
  uv.lock
Due: check-toml, trailing-whitespace

Silence yamllint truthy rule on scorecard workflow
  .github/workflows/scorecard.yml
Due: check-yaml, trailing-whitespace

Port linting setup from tuya-device-handlers (prek, codespell, yamllint, prettier 3)
  .devcontainer/devcontainer.json
  .github/renovate.json
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/stale.yaml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
  .nvmrc
  .pre-commit-config.yaml
  .prettierignore
  .vscode/tasks.json
  .yamllint
  CLAUDE.md
  CONTRIBUTING.rst
  README.rst
  package-lock.json
  package.json
  pyproject.toml
  src/renault_api/const.py
  src/renault_api/helpers.py
  tests/test_renault_vehicle.py
  uv.lock
Due: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

Align ruff hooks with tuya-device-handlers and tidy ignore files
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
Due: check-yaml, trailing-whitespace

Annotate ruff violations on pull requests
  .github/workflows/linting.yml
Due: check-yaml, trailing-whitespace

Switch to prek and add codespell, yamllint and prettier 3 (#2299)
  .devcontainer/devcontainer.json
  .github/renovate.json
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/stale.yaml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
  .nvmrc
  .pre-commit-config.yaml
  .prettierignore
  .vscode/tasks.json
  .yamllint
  CLAUDE.md
  CONTRIBUTING.rst
  README.rst
  package-lock.json
  package.json
  pyproject.toml
  src/renault_api/const.py
  src/renault_api/helpers.py
  tests/test_renault_vehicle.py
  uv.lock
Due: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

Add issue forms, PR template, security policy and editorconfig
  .editorconfig
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/issue.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  CONTRIBUTING.rst
Due: check-yaml, trailing-whitespace

Add labels.yml and Labeler workflow
  .github/labels.yml
  .github/workflows/labeler.yml
Due: check-yaml, trailing-whitespace

Add AI policy and move agent guide to AGENTS.md
  AGENTS.md
  AI_POLICY.md
  CLAUDE.md
Due: trailing-whitespace

Silence yamllint truthy rule on labeler workflow
  .github/workflows/labeler.yml
Due: check-yaml, trailing-whitespace

Add labels, issue and PR templates, security and AI policies (#2300)
  .editorconfig
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/issue.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/labels.yml
  .github/workflows/labeler.yml
  AGENTS.md
  AI_POLICY.md
  CLAUDE.md
  CONTRIBUTING.rst
Due: check-yaml, trailing-whitespace

Drop the Hypermodern Python Cookiecutter reference
  .cookiecutter.json
  README.rst
Due: trailing-whitespace

Drop the Hypermodern Python Cookiecutter reference (#2303)
  .cookiecutter.json
  README.rst
Due: trailing-whitespace

Enable lock-status for XJB2SU (Captur II)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Enable lock-status for XJB2SU (Captur II) (#2315)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Add en_AU locale
  src/renault_api/const.py
  tests/__snapshots__/test_api_keys.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Add en_AU locale (#2322)
  src/renault_api/const.py
  tests/__snapshots__/test_api_keys.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Apply prettier to TFA fixtures
  tests/fixtures/gigya/error/login.403101.json
  tests/fixtures/gigya/tfa_complete_email_verification.json
  tests/fixtures/gigya/tfa_emails.json
  tests/fixtures/gigya/tfa_finalize.json
  tests/fixtures/gigya/tfa_init.json
  tests/fixtures/gigya/tfa_send_email_code.json
Due: trailing-whitespace

Raise PendingTwoFactorAuthenticationException on Gigya 403101
  src/renault_api/gigya/exceptions.py
  src/renault_api/gigya/models.py
  tests/fixtures/gigya/error/login.403101.json
  tests/gigya/test_gigya_error.py
Due: ruff-check, ruff-format, trailing-whitespace

Use a GigyaErrorCode enum for the pending TFA error code
  src/renault_api/gigya/enums.py
  src/renault_api/gigya/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Add session-level test for pending two-factor authentication
  tests/fixtures.py
  tests/fixtures/gigya/error/login.403101.json
  tests/test_renault_session.py
Due: ruff-check, ruff-format, trailing-whitespace

Reduce to pending two-factor authentication detection
  src/renault_api/gigya/__init__.py
  src/renault_api/gigya/enums.py
  src/renault_api/gigya/exceptions.py
  src/renault_api/gigya/models.py
  src/renault_api/gigya/schemas.py
  src/renault_api/renault_session.py
  tests/fixtures.py
  tests/fixtures/gigya/error/login.403101.json
  tests/fixtures/gigya/tfa_complete_email_verification.json
  tests/fixtures/gigya/tfa_emails.json
  tests/fixtures/gigya/tfa_finalize.json
  tests/fixtures/gigya/tfa_init.json
  tests/fixtures/gigya/tfa_send_email_code.json
  tests/gigya/test_gigya.py
  tests/gigya/test_gigya_models.py
  tests/test_renault_session.py
Due: ruff-check, ruff-format, trailing-whitespace

Raise PendingTwoFactorAuthenticationException on Gigya 403101 (#2257)
  src/renault_api/gigya/enums.py
  src/renault_api/gigya/exceptions.py
  src/renault_api/gigya/models.py
  tests/fixtures.py
  tests/fixtures/gigya/error/login.403101.json
  tests/gigya/test_gigya_error.py
  tests/test_renault_session.py
Due: ruff-check, ruff-format, trailing-whitespace
