Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: Lint code with Ruff
  entry: ruff check
  language: system
  require_serial: true

ruff-format:
  name: Format code with Ruff
  entry: ruff format
  language: system
  require_serial: true

Bump version to 0.2.10
  pyproject.toml
Due: check-toml

Bump version to 0.2.10 (#1509)
  pyproject.toml
Due: check-toml

Add fixtures for Renault 5 E-Tech (52KW)
  tests/fixtures/kamereon/vehicle_data/battery-status.renault_5.json
  tests/fixtures/kamereon/vehicle_data/cockpit.renault_5.json
  tests/fixtures/kamereon/vehicle_data/hvac-status.renault_5.json
  tests/fixtures/kamereon/vehicles/renault_5.1.json
Due: none

Add fixtures for Renault 5 E-Tech (52KW) (#1514)
  tests/fixtures/kamereon/vehicle_data/battery-status.renault_5.json
  tests/fixtures/kamereon/vehicle_data/cockpit.renault_5.json
  tests/fixtures/kamereon/vehicle_data/hvac-status.renault_5.json
  tests/fixtures/kamereon/vehicles/renault_5.1.json
Due: none

Revert unconfirmed plug state 3
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Revert unconfirmed plug state 3 (#1533)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Revert unconfirmed plug state 3
  src/renault_api/kamereon/enums.py
Due: ruff-check, ruff-format

Revert unconfirmed plug state 3 (#1534)
  src/renault_api/kamereon/enums.py
Due: ruff-check, ruff-format

Use snapshot testing
  poetry.lock
  pyproject.toml
Due: check-toml

Update CLI tests
  .pre-commit-config.yaml
  tests/cli/__snapshots__/test_account.ambr
  tests/cli/__snapshots__/test_client.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/cli/test_account.py
  tests/cli/test_client.py
  tests/cli/test_vehicle.py
Due: check-yaml, ruff-check, ruff-format

Adjust
  poetry.lock
Due: none

Adjust
  noxfile.py
Due: ruff-check, ruff-format

Patch getlocale in tests
  src/renault_api/cli/renault_client.py
  tests/cli/__snapshots__/test_account.ambr
  tests/cli/__snapshots__/test_client.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/cli/conftest.py
Due: ruff-check, ruff-format

Adjust
  tests/cli/test_account.py
  tests/cli/test_client.py
  tests/cli/test_vehicle.py
Due: ruff-check, ruff-format

More
  tests/__snapshots__/test_api_keys.ambr
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_session.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/__snapshots__/test_vehicle_hvac.ambr
  tests/cli/test_session.py
  tests/cli/test_vehicle_charge.py
  tests/cli/test_vehicle_hvac.py
  tests/kamereon/__snapshots__/test_kamereon.ambr
  tests/kamereon/test_kamereon.py
  tests/test_api_keys.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Tweak
  tests/fixtures.py
Due: ruff-check, ruff-format

Use snapshot testing (#1535)
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/renault_api/cli/renault_client.py
  tests/__snapshots__/test_api_keys.ambr
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_account.ambr
  tests/cli/__snapshots__/test_client.ambr
  tests/cli/__snapshots__/test_session.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/__snapshots__/test_vehicle_hvac.ambr
  tests/cli/conftest.py
  tests/cli/test_account.py
  tests/cli/test_client.py
  tests/cli/test_session.py
  tests/cli/test_vehicle.py
  tests/cli/test_vehicle_charge.py
  tests/cli/test_vehicle_hvac.py
  tests/fixtures.py
  tests/kamereon/__snapshots__/test_kamereon.ambr
  tests/kamereon/test_kamereon.py
  tests/test_api_keys.py
  tests/test_renault_vehicle.py
Due: check-toml, check-yaml, ruff-check, ruff-format

Cleanup code coverage
  pyproject.toml
  src/renault_api/cli/__main__.py
  src/renault_api/cli/charge/history.py
  src/renault_api/cli/charge/schedule.py
  src/renault_api/cli/helpers.py
  src/renault_api/cli/renault_account.py
  src/renault_api/cli/renault_client.py
  src/renault_api/credential_store.py
  src/renault_api/gigya/models.py
  src/renault_api/helpers.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/helpers.py
  src/renault_api/renault_client.py
  src/renault_api/renault_session.py
  src/renault_api/renault_vehicle.py
  tests/conftest.py
Due: check-toml, ruff-check, ruff-format

Adjust
  codecov.yml
Due: check-yaml

Review code coverage (#1537)
  codecov.yml
  pyproject.toml
  src/renault_api/cli/__main__.py
  src/renault_api/cli/charge/history.py
  src/renault_api/cli/charge/schedule.py
  src/renault_api/cli/helpers.py
  src/renault_api/cli/renault_account.py
  src/renault_api/cli/renault_client.py
  src/renault_api/credential_store.py
  src/renault_api/gigya/models.py
  src/renault_api/helpers.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/helpers.py
  src/renault_api/renault_client.py
  src/renault_api/renault_session.py
  src/renault_api/renault_vehicle.py
  tests/conftest.py
Due: check-toml, check-yaml, ruff-check, ruff-format

Cleanup remaining pragma
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/renault_account.py
Due: ruff-check, ruff-format

Adjust
  .github/workflows/tests.yml
Due: check-yaml

Update code coverage configuration (#1538)
  .github/workflows/tests.yml
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/renault_account.py
Due: check-yaml, ruff-check, ruff-format

Adjust
  src/renault_api/exceptions.py
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format

Add full list of endpoints
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Adjust
  src/renault_api/cli/renault_vehicle.py
Due: ruff-check, ruff-format

Coverage
  src/renault_api/exceptions.py
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format

Adjust
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format

Mypy
  src/renault_api/exceptions.py
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format

More
  src/renault_api/exceptions.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/models.py
  src/renault_api/renault_session.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/cli/test_vehicle_charge.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Review vehicle endpoints (#1536)
  src/renault_api/exceptions.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/models.py
  src/renault_api/renault_session.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/cli/test_vehicle_charge.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Add support for accountId in http commands
  src/renault_api/cli/renault_client.py
Due: ruff-check, ruff-format

Add documentation and fixture for alerts endpoint
  docs/endpoints.rst
  docs/endpoints/vehicle_data.alerts.rst
  src/renault_api/kamereon/models.py
  tests/fixtures/kamereon/vehicle_data/alerts.json
Due: ruff-check, ruff-format

Update
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Adjust
  tests/fixtures/kamereon/vehicle_data/alerts.json
Due: none

Adjust
  docs/endpoints.rst
  docs/endpoints/vehicle_data.alerts.rst
  tests/fixtures/kamereon/vehicle_info/alerts.json
Due: none

Add documentation for pressure endpoint
  docs/endpoints.rst
  docs/endpoints/vehicle_data.pressure.rst
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_data/pressure.json
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format

Add documentation and fixture for alerts endpoint (#1540)
  docs/endpoints.rst
  docs/endpoints/vehicle_data.alerts.rst
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures/kamereon/vehicle_info/alerts.json
Due: ruff-check, ruff-format

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
