Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-toml, check-yaml, flake8, isort

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

isort:
  name: Sort python imports
  entry: isort
  language: system

Update docs
  docs/conf.py
Due: bandit, black, flake8, isort

Fix KCM Action endpoints documentation
  docs/endpoints.rst
Due: none

Update
  docs/endpoints/vehicle_data.battery-status.rst
Due: none

Fix documentation warnings (#1115)
  docs/endpoints.rst
  docs/endpoints/vehicle_data.battery-status.rst
Due: none

Bump actions/{upload/download}-artifact from v3 to v4
  .github/workflows/tests.yml
Due: check-yaml

Bump
  .github/workflows/tests.yml
Due: check-yaml

Pattern
  .github/workflows/tests.yml
Due: check-yaml

Bump actions/{upload/download}-artifact from v3 to v4 (#1116)
  .github/workflows/tests.yml
Due: check-yaml

Bump cryptography to 42.0.5
  poetry.lock
  pyproject.toml
Due: check-toml

Adjust
  pyproject.toml
Due: check-toml

Bump cryptography from 42.0.4 to 42.0.5 (#1137)
  poetry.lock
  pyproject.toml
Due: check-toml

Replace bandit/flake8/isort with ruff
  .flake8
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: bandit, black, check-toml, check-yaml, flake8, isort

Replace bandit/flake8/isort with ruff (#1136)
  .flake8
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: bandit, black, check-toml, check-yaml, flake8, isort

Ruff fixes
  pyproject.toml
  tests/conftest.py
  tests/gigya/test_gigya.py
  tests/kamereon/test_kamereon.py
  tests/test_api_keys.py
  tests/test_renault_account.py
  tests/test_renault_client.py
  tests/test_renault_session.py
  tests/test_renault_vehicle.py
Due: bandit, black, check-toml, flake8, isort

More fixes
  pyproject.toml
  src/renault_api/renault_vehicle.py
Due: bandit, black, check-toml, flake8, isort

More fixes
  pyproject.toml
  src/renault_api/cli/renault_settings.py
  src/renault_api/renault_vehicle.py
  tests/kamereon/test_kamereon_vehicle_action.py
Due: bandit, black, check-toml, flake8, isort

More fixes
  pyproject.toml
  src/renault_api/cli/charge/schedule.py
  tests/ruff.toml
Due: bandit, black, check-toml, flake8, isort

More fixes
  bandit.yml
Due: check-yaml

More fixes
  pyproject.toml
Due: check-toml

More fixes
  pyproject.toml
  src/renault_api/gigya/__init__.py
  src/renault_api/renault_vehicle.py
  tests/kamereon/test_kamereon_vehicle_contract.py
  tests/test_renault_vehicle.py
Due: bandit, black, check-toml, flake8, isort

Unignore Ruff rules (#1138)
  bandit.yml
  pyproject.toml
  src/renault_api/cli/charge/schedule.py
  src/renault_api/cli/renault_settings.py
  src/renault_api/gigya/__init__.py
  src/renault_api/renault_vehicle.py
  tests/conftest.py
  tests/gigya/test_gigya.py
  tests/kamereon/test_kamereon.py
  tests/kamereon/test_kamereon_vehicle_action.py
  tests/kamereon/test_kamereon_vehicle_contract.py
  tests/ruff.toml
  tests/test_api_keys.py
  tests/test_renault_account.py
  tests/test_renault_client.py
  tests/test_renault_session.py
  tests/test_renault_vehicle.py
Due: bandit, black, check-toml, check-yaml, flake8, isort

Replace black with ruff
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
Due: bandit, black, check-toml, check-yaml, flake8, isort

Updates
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/helpers.py
Due: bandit, black, flake8, isort

Replace black with ruff (#1139)
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/helpers.py
Due: bandit, black, check-toml, check-yaml, flake8, isort

Suppress type checks
  tests/cli/test_vehicle.py
Due: bandit, black, flake8, isort

Suppress type checks
  tests/test_credential_store.py
Due: bandit, black, flake8, isort

Suppress type checks
  noxfile.py
Due: bandit, black, flake8, isort

Add ruff rules
  pyproject.toml
  src/renault_api/kamereon/helpers.py
  src/renault_api/renault_vehicle.py
  tests/fixtures.py
  tests/test_api_keys.py
Due: bandit, black, check-toml, flake8, isort

More
  src/renault_api/cli/__main__.py
  src/renault_api/cli/charge/control.py
  src/renault_api/cli/charge/history.py
  src/renault_api/cli/charge/schedule.py
  src/renault_api/cli/helpers.py
  src/renault_api/cli/hvac/control.py
  src/renault_api/cli/hvac/history.py
  src/renault_api/cli/renault_account.py
  src/renault_api/cli/renault_client.py
  src/renault_api/cli/renault_settings.py
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/credential_store.py
  src/renault_api/gigya/__init__.py
  src/renault_api/gigya/exceptions.py
  src/renault_api/gigya/models.py
  src/renault_api/helpers.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/exceptions.py
  src/renault_api/kamereon/models.py
  src/renault_api/models.py
  src/renault_api/renault_account.py
  src/renault_api/renault_client.py
  src/renault_api/renault_session.py
  src/renault_api/renault_vehicle.py
  tests/cli/__init__.py
  tests/conftest.py
  tests/test_renault_vehicle.py
Due: bandit, black, flake8, isort

More
  pyproject.toml
Due: check-toml

More
  src/renault_api/cli/__main__.py
  src/renault_api/cli/charge/control.py
  src/renault_api/cli/charge/history.py
  src/renault_api/cli/charge/schedule.py
  src/renault_api/cli/helpers.py
  src/renault_api/cli/hvac/control.py
  src/renault_api/cli/hvac/history.py
  src/renault_api/cli/renault_account.py
  src/renault_api/cli/renault_client.py
  src/renault_api/cli/renault_settings.py
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/gigya/__init__.py
  src/renault_api/gigya/exceptions.py
  src/renault_api/gigya/models.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/exceptions.py
  src/renault_api/kamereon/models.py
  src/renault_api/models.py
  tests/cli/__init__.py
  tests/conftest.py
Due: bandit, black, flake8, isort

Revert "More"
  src/renault_api/cli/__main__.py
  src/renault_api/cli/charge/control.py
  src/renault_api/cli/charge/history.py
  src/renault_api/cli/charge/schedule.py
  src/renault_api/cli/helpers.py
  src/renault_api/cli/hvac/control.py
  src/renault_api/cli/hvac/history.py
  src/renault_api/cli/renault_account.py
  src/renault_api/cli/renault_client.py
  src/renault_api/cli/renault_settings.py
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/gigya/__init__.py
  src/renault_api/gigya/exceptions.py
  src/renault_api/gigya/models.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/exceptions.py
  src/renault_api/kamereon/models.py
  src/renault_api/models.py
  tests/cli/__init__.py
  tests/conftest.py
Due: bandit, black, flake8, isort

Revert "More"
  src/renault_api/cli/__main__.py
  src/renault_api/cli/charge/control.py
  src/renault_api/cli/charge/history.py
  src/renault_api/cli/charge/schedule.py
  src/renault_api/cli/helpers.py
  src/renault_api/cli/hvac/control.py
  src/renault_api/cli/hvac/history.py
  src/renault_api/cli/renault_account.py
  src/renault_api/cli/renault_client.py
  src/renault_api/cli/renault_settings.py
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/credential_store.py
  src/renault_api/gigya/__init__.py
  src/renault_api/gigya/exceptions.py
  src/renault_api/gigya/models.py
  src/renault_api/helpers.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/exceptions.py
  src/renault_api/kamereon/models.py
  src/renault_api/models.py
  src/renault_api/renault_account.py
  src/renault_api/renault_client.py
  src/renault_api/renault_session.py
  src/renault_api/renault_vehicle.py
  tests/cli/__init__.py
  tests/conftest.py
  tests/test_renault_vehicle.py
Due: bandit, black, flake8, isort

Add pyupgrade ruff rules (#1141)
  pyproject.toml
  src/renault_api/kamereon/helpers.py
  src/renault_api/renault_vehicle.py
  tests/fixtures.py
  tests/test_api_keys.py
Due: bandit, black, check-toml, flake8, isort

Cleanup black settings
  README.rst
  poetry.lock
Due: none

Add Python 3.12 to CI
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  noxfile.py
  pyproject.toml
Due: bandit, black, check-toml, check-yaml, flake8, isort

Cleanup black settings (#1142)
  README.rst
  poetry.lock
Due: none

Path conditions:
  bandit: any of: \.py$
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  flake8: any of: \.py$
  isort: any of: \.py$
