Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: Lint code with Ruff
  entry: ruff check
  language: system
  require_serial: true

ruff-format:
  name: Format code with Ruff
  entry: ruff format
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

Revert "Migrate to trusted publishing (#1751)" (#1754)
  .github/workflows/release.yml
Due: check-yaml, trailing-whitespace

Bump version to 0.4.3
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version to 0.4.3 (#1755)
  pyproject.toml
Due: check-toml, trailing-whitespace

Document XBG1VE (Dacia Spring)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Document XBG1VE (Dacia Spring) (#1758)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Document XJB2CP (Symbioz)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Document XJB2CP (Symbioz) (#1759)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Document XCB1VE (Megane E-TECH)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Document XCB1VE (Megane E-TECH) (#1760)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Bump version to 0.4.4
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version to 0.4.4 (#1761)
  pyproject.toml
Due: check-toml, trailing-whitespace

Document XHN1SU (Austral)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Document X102VE (Zoe II)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Drop support for python 3.9
  .github/workflows/tests.yml
  CONTRIBUTING.rst
  README.rst
  noxfile.py
  pyproject.toml
  src/renault_api/cli/__main__.py
  src/renault_api/cli/charge/control.py
  src/renault_api/cli/charge/history.py
  src/renault_api/cli/helpers.py
  src/renault_api/cli/hvac/control.py
  src/renault_api/cli/hvac/history.py
  src/renault_api/cli/renault_account.py
  src/renault_api/cli/renault_client.py
  src/renault_api/cli/renault_settings.py
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/credential_store.py
  src/renault_api/exceptions.py
  src/renault_api/gigya/exceptions.py
  src/renault_api/gigya/models.py
  src/renault_api/helpers.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/exceptions.py
  src/renault_api/kamereon/models.py
  src/renault_api/renault_account.py
  src/renault_api/renault_client.py
  src/renault_api/renault_session.py
  src/renault_api/renault_vehicle.py
  tests/cli/__init__.py
  tests/conftest.py
Due: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

Update lock file
  poetry.lock
Due: trailing-whitespace

Drop support for python 3.9 (#1765)
  .github/workflows/tests.yml
  CONTRIBUTING.rst
  README.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  src/renault_api/cli/__main__.py
  src/renault_api/cli/charge/control.py
  src/renault_api/cli/charge/history.py
  src/renault_api/cli/helpers.py
  src/renault_api/cli/hvac/control.py
  src/renault_api/cli/hvac/history.py
  src/renault_api/cli/renault_account.py
  src/renault_api/cli/renault_client.py
  src/renault_api/cli/renault_settings.py
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/credential_store.py
  src/renault_api/exceptions.py
  src/renault_api/gigya/exceptions.py
  src/renault_api/gigya/models.py
  src/renault_api/helpers.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/exceptions.py
  src/renault_api/kamereon/models.py
  src/renault_api/renault_account.py
  src/renault_api/renault_client.py
  src/renault_api/renault_session.py
  src/renault_api/renault_vehicle.py
  tests/cli/__init__.py
  tests/conftest.py
Due: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

Migrate to trusted publishing
  .github/workflows/release.yml
Due: check-yaml, trailing-whitespace

Migrate to trusted publishing (#1766)
  .github/workflows/release.yml
Due: check-yaml, trailing-whitespace

Document XBG1VE (Dacia Spring)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Document XBG1VE (Dacia Spring
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update models.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update X101VE to add actions/hvac-stop using default endpoints
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update snapshots
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Update snapshots
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: none

Update documentation for XBG1VE (Dacia Spring) (#1777)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Update documentation for X101VE (ZOE I) (#1779)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Document Renault Espace VI
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Fix ruff
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Add documentation for XHN1ML (Espace VI) (#1785)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

X071VE Renault Twingo 3 E-Tech / Z.E.
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update documentation for X071VE (Twingo 3 E-Tech) (#1787)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Document XHN1SU (Austral) (#1763)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Bump version to 0.5.0
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version to 0.5.0 (#1792)
  pyproject.toml
Due: check-toml, trailing-whitespace

Update pressure endpoint
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update documentation for X102VE (Zoe II) (#1764)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  trailing-whitespace: any file but: \.ambr$
