Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ruff-check
        name: Lint code with Ruff
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: Format code with Ruff
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        exclude: \.ambr$
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Apply suggestions from code review
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: check-yaml, trailing-whitespace

Bump version to 0.5.1
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version to 0.5.1 (#1824)
  pyproject.toml
Due: check-toml, trailing-whitespace

Document Arkana
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Apply suggestions from code review
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Document XJL2TR (Arkana) (#1845)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

feat(models/XJA1VP) Adds cockpit and location endpoints
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

feat(models/XJA1VP) Adds confirmed endpoints
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

feat(models/XJA1VP) Adds missing endpoints
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

feat(models/XJA1VP) Defined the `charging-start` endpoint
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

feat(models/XJA1VP) Defined the `hvac-start` endpoint
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update models.py to include actions/charge-set-schedule for X101VE
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update test_renault_vehicle.ambr
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Update src/renault_api/kamereon/models.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update tests/__snapshots__/test_renault_vehicle.ambr
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

fix(models/XJA1VP) linter and notFound endpoints
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update snapshots
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: none

Adjust
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Document more endpoints for model X101VE (Zoe I) (#1853)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Document more endpoints for model XJA1VP (Clio V) (#1851)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Bump version to 0.5.2
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version to 0.5.2 (#1856)
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version to 0.5.3
  pyproject.toml
Due: check-toml, trailing-whitespace

Revert "Document more endpoints for model XJA1VP (Clio V) (#1851)"
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

feat(models/XJA2VP) Define endpoints
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/fixtures/kamereon/expected_specs.json
  tests/fixtures/kamereon/vehicles/clio_v.2.json
Due: ruff-check, ruff-format, trailing-whitespace

Init of endpoints for A290
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Document XJA2VP (Clio V) (#1866)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/fixtures/kamereon/expected_specs.json
  tests/fixtures/kamereon/vehicles/clio_v.2.json
Due: ruff-check, ruff-format, trailing-whitespace

Apply suggestions from code review
  .github/workflows/tests.yml
Due: check-yaml, trailing-whitespace

Keep model codes sorted by alphabetical order as per epenet request.
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Document A5E1AE (Alpine A290) (#1868)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update display of KCM charge schedule show Update/Add testcases
  src/renault_api/cli/charge/schedule.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_kcm_data/ev-settings.multi.active.json
  tests/fixtures/kamereon/vehicle_kcm_data/ev-settings.single.active.json
  tests/fixtures/kamereon/vehicle_kcm_data/ev-settings.single.inactive.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Add renovate configuration
  .github/renovate.json
Due: trailing-whitespace

Adjust
  renovate.json
Due: trailing-whitespace

Add renovate configuration (#1878)
  .github/renovate.json
Due: trailing-whitespace

Adjust
  poetry.lock
  pyproject.toml
Due: check-toml, trailing-whitespace

Adjust
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: check-yaml, trailing-whitespace

Document DU31SU (Dacia Duster III)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Document DU31SU (Dacia Duster III) (#1887)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Add Python 3.14 to CI
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml, ruff-check, ruff-format, trailing-whitespace
