Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ruff-check
        name: Lint code with Ruff
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: Format code with Ruff
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        exclude: \.ambr$
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Adjust tests
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
Due: ruff-check, ruff-format, trailing-whitespace

Add mixed schedule
  tests/fixtures/kamereon/vehicle_data/charge-schedule.mixed.json
Due: trailing-whitespace

Fix KCA charge schedule end time calculation (#2265)
  src/renault_api/cli/charge/schedule.py
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/fixtures/kamereon/vehicle_data/charge-schedule.mixed.json
Due: ruff-check, ruff-format, trailing-whitespace

Drop JWT remint retry from this PR
  src/renault_api/renault_session.py
  tests/test_renault_session.py
Due: ruff-check, ruff-format, trailing-whitespace

Map err.func.wired.unauthorized to UnauthorizedException (#2271)
  src/renault_api/kamereon/exceptions.py
  src/renault_api/kamereon/models.py
  tests/fixtures/kamereon/error/unauthorized.json
  tests/kamereon/test_kamereon_error.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: remint JWT once when Kamereon rejects a valid token
  src/renault_api/credential.py
  src/renault_api/renault_session.py
  tests/fixtures.py
  tests/test_credential.py
  tests/test_renault_session.py
Due: ruff-check, ruff-format, trailing-whitespace

Treat JWT as expired 60s early to tolerate clock skew
  src/renault_api/credential.py
  tests/test_credential.py
Due: ruff-check, ruff-format, trailing-whitespace

Treat JWT as expired 60s early to tolerate clock skew (#2280)
  src/renault_api/credential.py
  tests/test_credential.py
Due: ruff-check, ruff-format, trailing-whitespace

Update myr gateway doc with ZOE probes and APK 6.14.2
  docs/myr-gateway.rst
Due: trailing-whitespace

Remove darglint
  .darglint
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, ruff-check, ruff-format, trailing-whitespace

Remove darglint (#2281)
  .darglint
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, ruff-check, ruff-format, trailing-whitespace

Remove typeguard and Pygments
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/cli/test_vehicle.py
  tests/test_credential_store.py
Due: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

Remove typeguard and Pygments (#2282)
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/cli/test_vehicle.py
  tests/test_credential_store.py
Due: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

Migrate pyproject.toml to PEP 621
  poetry.lock
  pyproject.toml
Due: check-toml, trailing-whitespace

Migrate pyproject.toml to PEP 621 (#2283)
  poetry.lock
  pyproject.toml
Due: check-toml, trailing-whitespace

Replace mypy with ty
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/renault_api/cli/helpers.py
  src/renault_api/helpers.py
  src/renault_api/kamereon/models.py
  src/renault_api/models.py
  src/renault_api/renault_vehicle.py
  tests/conftest.py
  tests/fixtures.py
  tests/kamereon/test_kamereon_vehicle_action.py
Due: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

Move connector assert under TYPE_CHECKING
  tests/conftest.py
Due: ruff-check, ruff-format, trailing-whitespace

Defer utcnow replacement to a follow-up PR
  tests/fixtures.py
Due: ruff-check, ruff-format, trailing-whitespace

Replace mypy with ty (#2284)
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/renault_api/cli/helpers.py
  src/renault_api/helpers.py
  src/renault_api/kamereon/models.py
  src/renault_api/models.py
  src/renault_api/renault_vehicle.py
  tests/conftest.py
  tests/fixtures.py
  tests/kamereon/test_kamereon_vehicle_action.py
Due: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

Replace deprecated datetime.utcnow() in test fixtures
  tests/fixtures.py
Due: ruff-check, ruff-format, trailing-whitespace

Replace deprecated datetime.utcnow() in test fixtures (#2285)
  tests/fixtures.py
Due: ruff-check, ruff-format, trailing-whitespace

Migrate from Poetry to uv
  .github/renovate.json
  .github/workflows/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  .vscode/tasks.json
  CONTRIBUTING.rst
  noxfile.py
  poetry.lock
  poetry.toml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

Install the project non-editable in nox sessions
  noxfile.py
Due: ruff-check, ruff-format, trailing-whitespace

Migrate from Poetry to uv (#2286)
  .github/renovate.json
  .github/workflows/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  .vscode/tasks.json
  CONTRIBUTING.rst
  noxfile.py
  poetry.lock
  poetry.toml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

Replace nox with direct uv run in CI
  .github/renovate.json
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  noxfile.py
Due: check-yaml, ruff-check, ruff-format, trailing-whitespace

Restrict GITHUB_TOKEN to read-only in CI workflows
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
Due: check-yaml, trailing-whitespace

Replace nox with direct uv run in CI (#2289)
  .github/renovate.json
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  noxfile.py
Due: check-yaml, ruff-check, ruff-format, trailing-whitespace

Add Dev Container configuration
  .devcontainer/devcontainer.json
  CONTRIBUTING.rst
Due: trailing-whitespace

Use Python 3.14 in the release workflow
  .github/workflows/release.yml
Due: check-yaml, trailing-whitespace

Define DEFAULT_PYTHON once per workflow
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
Due: check-yaml, trailing-whitespace

Add Dev Container configuration (#2291)
  .devcontainer/devcontainer.json
  CONTRIBUTING.rst
Due: trailing-whitespace

Use a minor-only default Python in workflows (#2292)
  .github/workflows/docs.yml
  .github/workflows/linting.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
Due: check-yaml, trailing-whitespace

Update myr gateway doc from review feedback
  docs/myr-gateway.rst
Due: trailing-whitespace

Update myr gateway doc from APK 6.14.2 decompilation
  docs/myr-gateway.rst
Due: trailing-whitespace

Correct myr gateway doc after APK 6.13.4 decompilation
  docs/myr-gateway.rst
Due: trailing-whitespace

Add CLAUDE.md and apk-analysis skill
  .claude/skills/apk-analysis/SKILL.md
  .gitignore
  CLAUDE.md
Due: trailing-whitespace

Add CLAUDE.md and apk-analysis skill (#2294)
  .claude/skills/apk-analysis/SKILL.md
  .gitignore
  CLAUDE.md
Due: trailing-whitespace

Mark myr gateway doc as reference-only and link it from endpoints
  docs/endpoints.rst
  docs/myr-gateway.rst
Due: trailing-whitespace

Add documentation for the MyRenault app gateway (myr) (#2258)
  docs/endpoints.rst
  docs/index.rst
  docs/myr-gateway.rst
Due: trailing-whitespace

Release on published GitHub release
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml, trailing-whitespace
