Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        name: Lint code with Ruff
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: Format code with Ruff
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Update __init__.py
  src/renault_api/kamereon/__init__.py
Due: ruff-check, ruff-format

fix: Go back to Version 1 for Cockpit Endpoint
  src/renault_api/kamereon/__init__.py
Due: ruff-check, ruff-format

Add ruff badge
  README.rst
Due: none

Add ruff badge (#1146)
  README.rst
Due: none

Adjust test fixture
  tests/fixtures.py
Due: ruff-check, ruff-format

Update Cockpit endpoint (#1145)
  src/renault_api/kamereon/__init__.py
  tests/fixtures.py
Due: ruff-check, ruff-format

Bump version to 0.2.2
  pyproject.toml
Due: check-toml

Bump version to 0.2.2 (#1147)
  pyproject.toml
Due: check-toml

Fix HVAC status endpoint
  src/renault_api/kamereon/models.py
  tests/cli/test_vehicle.py
  tests/fixtures/kamereon/vehicle_data/hvac-status.spring.json
  tests/fixtures/kamereon/vehicle_data/hvac-status.zoe.json
  tests/fixtures/kamereon/vehicle_data/hvac-status.zoe_50.json
Due: ruff-check, ruff-format

Fix HVAC status endpoint (#1211)
  src/renault_api/kamereon/models.py
  tests/cli/test_vehicle.py
  tests/fixtures/kamereon/vehicle_data/hvac-status.spring.json
  tests/fixtures/kamereon/vehicle_data/hvac-status.zoe.json
  tests/fixtures/kamereon/vehicle_data/hvac-status.zoe_50.json
Due: ruff-check, ruff-format

Bump version to 0.2.3
  pyproject.toml
Due: check-toml

Bump version to 0.2.3 (#1212)
  pyproject.toml
Due: check-toml

Align aiohttp/PyJWT with Home Assistant
  poetry.lock
  pyproject.toml
Due: check-toml

Align aiohttp/PyJWT with Home Assistant (#1239)
  poetry.lock
  pyproject.toml
Due: check-toml

Add Python 3.12 to CI
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  noxfile.py
  pyproject.toml
Due: check-toml, check-yaml, ruff-check, ruff-format

Bump six for 3.12 compatibility
  poetry.lock
  pyproject.toml
Due: check-toml

Adjust workflow
  .github/workflows/tests.yml
Due: check-yaml

Adjust workflow
  noxfile.py
Due: ruff-check, ruff-format

Add Python 3.12 to CI (#1143)
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, ruff-check, ruff-format

Fix workflow
  .github/workflows/tests.yml
Due: check-yaml

Fix safety warnings
  poetry.lock
  pyproject.toml
Due: check-toml

Fix workflow (#1240)
  .github/workflows/tests.yml
Due: check-yaml

Adjust
  noxfile.py
  pyproject.toml
Due: check-toml, ruff-check, ruff-format

Adjust
  pyproject.toml
Due: check-toml

Adjust
  poetry.lock
  pyproject.toml
Due: check-toml

Fix safety warnings (#1241)
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, ruff-check, ruff-format

Revert "Fix HVAC status endpoint (#1211)"
  src/renault_api/kamereon/models.py
  tests/cli/test_vehicle.py
  tests/fixtures/kamereon/vehicle_data/hvac-status.spring.json
  tests/fixtures/kamereon/vehicle_data/hvac-status.zoe.json
  tests/fixtures/kamereon/vehicle_data/hvac-status.zoe_50.json
Due: ruff-check, ruff-format

Revert "Fix HVAC status endpoint (#1211)" (#1242)
  src/renault_api/kamereon/models.py
  tests/cli/test_vehicle.py
  tests/fixtures/kamereon/vehicle_data/hvac-status.spring.json
  tests/fixtures/kamereon/vehicle_data/hvac-status.zoe.json
  tests/fixtures/kamereon/vehicle_data/hvac-status.zoe_50.json
Due: ruff-check, ruff-format

Bump version to 0.2.4
  pyproject.toml
Due: check-toml

Bump version to 0.2.4 (#1243)
  pyproject.toml
Due: check-toml

Fix circular imports
  src/renault_api/kamereon/helpers.py
Due: ruff-check, ruff-format

Adjust
  src/renault_api/kamereon/helpers.py
Due: ruff-check, ruff-format

Bump minimum typeguard version
  poetry.lock
  pyproject.toml
Due: check-toml

Bump minimum typeguard version (#1246)
  poetry.lock
  pyproject.toml
Due: check-toml

Relax cryptography constraint
  pyproject.toml
Due: check-toml

Relax cryptography constraint (#1267)
  pyproject.toml
Due: check-toml

Bump version to 0.2.5
  pyproject.toml
Due: check-toml

Bump version to 0.2.5 (#1268)
  pyproject.toml
Due: check-toml

Fix wording about fuel and battery economy in README
  README.rst
Due: none
