Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: Lint code with Ruff
  entry: ruff check
  language: system
  require_serial: true

ruff-format:
  name: Format code with Ruff
  entry: ruff format
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

Use a constant
  src/renault_api/const.py
Due: ruff-check, ruff-format, trailing-whitespace

Update snapshots
  tests/cli/__snapshots__/test_session.ambr
Due: none

Update Gigya API keys (#2101)
  src/renault_api/const.py
  tests/__snapshots__/test_api_keys.ambr
  tests/cli/__snapshots__/test_session.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Bump version from 0.5.8 to 0.5.9
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version from 0.5.8 to 0.5.9 (#2104)
  pyproject.toml
Due: check-toml, trailing-whitespace

Update const.py
  src/renault_api/const.py
Due: ruff-check, ruff-format, trailing-whitespace

Fix api test so the Austria has EU key.
  tests/__snapshots__/test_api_keys.ambr
Due: none

Update Gigya API key for de_AT (#2107)
  src/renault_api/const.py
  tests/__snapshots__/test_api_keys.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Expose Gigya login token to avoid storing the password
  README.rst
  src/renault_api/renault_session.py
  tests/test_renault_session.py
Due: ruff-check, ruff-format, trailing-whitespace

Expose Gigya login token to avoid storing the password (#2108)
  README.rst
  src/renault_api/renault_session.py
  tests/test_renault_session.py
Due: ruff-check, ruff-format, trailing-whitespace

Bump version from 0.5.9 to 0.5.10
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version from 0.5.9 to 0.5.10 (#2109)
  pyproject.toml
Due: check-toml, trailing-whitespace

Update documentation for XJB2CP (Symbioz)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update models.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update documentation for XJB2CP (Symbioz) (#2113)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update documentation for X102VE (Zoé Phase 2)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Update documentation for X102VE (Zoé Phase 2) (#2114)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Fix XCB1VE soc-levels endpoint incorrectly set to None
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update test_renault_vehicle.ambr
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Update documentation for XCB1VE (Megane e-tech) (#2118)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Bump version to 0.5.11
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version to 0.5.11 (#2122)
  pyproject.toml
Due: check-toml, trailing-whitespace

Added Clio V
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update snapshots
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: none

Update documentation for XJA1VP (Clio V) (#2123)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Document mode endpoint for Austral (XHN1SU)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

fix spacing
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

update snapshots
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: none

update test snapshots via nox
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: none

Document more endpoints for Austral (XHN1SU) (#2140)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Bump version to 0.5.12
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version to 0.5.12 (#2144)
  pyproject.toml
Due: check-toml, trailing-whitespace

Add DACIA SANDERO III (XJF2BI) endpoints
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Migrate to aiointercept
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/cli/test_account.py
  tests/cli/test_client.py
  tests/cli/test_vehicle.py
  tests/cli/test_vehicle_charge.py
  tests/cli/test_vehicle_hvac.py
  tests/conftest.py
  tests/fixtures.py
  tests/gigya/test_gigya.py
  tests/kamereon/test_kamereon.py
  tests/test_api_keys.py
  tests/test_renault_account.py
  tests/test_renault_client.py
  tests/test_renault_session.py
  tests/test_renault_vehicle.py
Due: check-toml, ruff-check, ruff-format, trailing-whitespace

Migrate to aiointercept (#2156)
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/cli/test_account.py
  tests/cli/test_client.py
  tests/cli/test_vehicle.py
  tests/cli/test_vehicle_charge.py
  tests/cli/test_vehicle_hvac.py
  tests/conftest.py
  tests/fixtures.py
  tests/gigya/test_gigya.py
  tests/kamereon/test_kamereon.py
  tests/test_api_keys.py
  tests/test_renault_account.py
  tests/test_renault_client.py
  tests/test_renault_session.py
  tests/test_renault_vehicle.py
Due: check-toml, ruff-check, ruff-format, trailing-whitespace

Alphabetical order
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Reduce
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Add documentation for Dacia Sandero III (XJF2BI) (#2151)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Reorder model definitions
  src/renault_api/kamereon/models.py
  tests/kamereon/test_kamereon.py
Due: ruff-check, ruff-format, trailing-whitespace

More sorting
  src/renault_api/kamereon/models.py
  tests/kamereon/test_kamereon.py
Due: ruff-check, ruff-format, trailing-whitespace

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  trailing-whitespace: any file but: \.ambr$
