Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: Lint code with Ruff
  entry: ruff check
  language: system
  require_serial: true

ruff-format:
  name: Format code with Ruff
  entry: ruff format
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

added Zoe 2 and twingo as known endpoints
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

ruff happier
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Bump cryptography to 44.0.0
  poetry.lock
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump cryptography to 44.0.0 (#1569)
  poetry.lock
  pyproject.toml
Due: check-toml, trailing-whitespace

Align get_charging_status with get_plug_status (#1570)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

correct ordering of the cars in the list
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update src/renault_api/kamereon/models.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

test fixes
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

test fixes
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

test fixes (better exception handling)
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

ruff happier
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Add Twingo III and Zoe 2 to the known vehicle endpoint lists (#1567)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Bump version to 0.3.1
  pyproject.toml
Due: check-toml, trailing-whitespace

Avoid flooding in undocumented vehicles
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Avoid repeated log entries for undocumented vehicles (#1576)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Bump version to 0.3.1 (#1575)
  pyproject.toml
Due: check-toml, trailing-whitespace

Create zoe_50.2.json
  tests/fixtures/kamereon/vehicles/zoe_50.2.json
Due: trailing-whitespace

Update zoe_50.2.json
  tests/fixtures/kamereon/vehicles/zoe_50.2.json
Due: trailing-whitespace

Make endpoint definitions a complex type
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Improve
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Make endpoint definitions a complex type (#1595)
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Migrate ac start/stop and charge-mode set to EndpointDefinition
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/test_vehicle_charge.py
  tests/cli/test_vehicle_hvac.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Fix mypy
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

One more
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

One more
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

One more
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Migrate vehicle methods to use EndpointDefinition (#1596)
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/test_vehicle_charge.py
  tests/cli/test_vehicle_hvac.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Fix typing issues
  src/renault_api/cli/renault_client.py
Due: ruff-check, ruff-format, trailing-whitespace

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  trailing-whitespace: any file but: \.ambr$
