Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ruff-check
        name: Lint code with Ruff
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: Format code with Ruff
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        exclude: \.ambr$
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Rename test constants (#2012)
  tests/fixtures.py
Due: ruff-check, ruff-format, trailing-whitespace

Improve tests
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/fixtures/kamereon/vehicle_kcm_action/charging-start.now.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Improve test parametrize
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/fixtures.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Reduce
  src/renault_api/cli/charge/control.py
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/cli/test_vehicle_charge.py
  tests/fixtures/kamereon/vehicle_kcm_action/charging-start.delayed.json
  tests/fixtures/kamereon/vehicle_kcm_action/charging-start.now.json
Due: ruff-check, ruff-format, trailing-whitespace

Reduce
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Improve test parametrize (#2013)
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/fixtures.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Fix timezone handling in set_charge_start test
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Update startDateTime in vehicle charge snapshot
  tests/cli/__snapshots__/test_vehicle_charge.ambr
Due: none

Fix timezone format in charge start command test
  tests/cli/test_vehicle_charge.py
Due: ruff-check, ruff-format, trailing-whitespace

Add charge-start with delayed option
  src/renault_api/cli/charge/control.py
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_kcm_action/charging-start.delayed.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Update startDateTime in vehicle snapshot test
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Simplify `when` type check in delayed mode
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Adjust
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Improve tests
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/fixtures/kamereon/vehicle_kcm_action/charging-start.now.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Improve test parametrize
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/fixtures.py
Due: ruff-check, ruff-format, trailing-whitespace

Add new charge-start KCM endpoint (#2010)
  src/renault_api/cli/charge/control.py
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/fixtures/kamereon/vehicle_kcm_action/charging-start.delayed.json
  tests/fixtures/kamereon/vehicle_kcm_action/charging-start.now.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Implement create_charge_schedule function
  src/renault_api/kamereon/helpers.py
Due: ruff-check, ruff-format, trailing-whitespace

Add test to cover more helper functions
  src/renault_api/kamereon/helpers.py
  tests/fixtures/vehicle_action/charge-schedule.empty.json
  tests/fixtures/vehicle_action/charge-schedule.scheduled.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Delete tests/fixtures/vehicle_action/charge-schedule.scheduled.json
  tests/fixtures/vehicle_action/charge-schedule.scheduled.json
Due: trailing-whitespace

Delete tests/fixtures/vehicle_action/charge-schedule.empty.json
  tests/fixtures/vehicle_action/charge-schedule.empty.json
Due: trailing-whitespace

Moving files to correct folder.
  tests/fixtures/kamereon/vehicle_action/charge-schedule.empty.json
  tests/fixtures/kamereon/vehicle_action/charge-schedule.scheduled.json
Due: trailing-whitespace

Correct imports in test_renault_vehicle
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Improve
  src/renault_api/kamereon/helpers.py
Due: ruff-check, ruff-format, trailing-whitespace

Coverage
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures/kamereon/vehicle_action/charge-schedule.empty.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Implement create_charge_schedule function (#2014)
  src/renault_api/kamereon/helpers.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures/kamereon/vehicle_action/charge-schedule.empty.json
  tests/fixtures/kamereon/vehicle_action/charge-schedule.scheduled.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Add attributes to KamereonVehicleChargingSettingsData class
  src/renault_api/kamereon/models.py
  tests/fixtures/kamereon/vehicle_data/charging-settings.always.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.delayed.json
Due: ruff-check, ruff-format, trailing-whitespace

Updated documentation for Megane e-Tech
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Add attributes to KamereonVehicleChargingSettingsData class (#2015)
  src/renault_api/kamereon/models.py
  tests/fixtures/kamereon/vehicle_data/charging-settings.always.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.delayed.json
Due: ruff-check, ruff-format, trailing-whitespace

Rename "kcm" => "kcm-settings"
  src/renault_api/cli/charge/schedule.py
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Rename "kcm" => "kcm-settings" (#2017)
  src/renault_api/cli/charge/schedule.py
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Reorder
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update documentation for XCB1VE (Megane e-tech) (#2016)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Bump version from 0.5.6 to 0.5.7
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version from 0.5.6 to 0.5.7 (#2018)
  pyproject.toml
Due: check-toml, trailing-whitespace

Add internalTemperature to KamereonVehicleHvacStatusData
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Add tests
  tests/kamereon/__snapshots__/test_kamereon_vehicle_data.ambr
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format, trailing-whitespace

Update vscode settings
  .vscode/settings.json
Due: trailing-whitespace

Add internalTemperature to KamereonVehicleHvacStatusData (#2031)
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/kamereon/models.py
  tests/kamereon/__snapshots__/test_kamereon_vehicle_data.ambr
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format, trailing-whitespace

Update vscode settings (#2032)
  .vscode/settings.json
Due: trailing-whitespace

Megane e-Tech model update.
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace
