Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: Lint code with Ruff
  entry: ruff check
  language: system
  require_serial: true

ruff-format:
  name: Format code with Ruff
  entry: ruff format
  language: system
  require_serial: true

Add documentation for pressure endpoint (#1541)
  docs/endpoints.rst
  docs/endpoints/vehicle_data.pressure.rst
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_data/pressure.json
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format

Drop deprecated has_contract_for_endpoint
  src/renault_api/renault_vehicle.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Add new ForbiddenException
  src/renault_api/kamereon/exceptions.py
  src/renault_api/kamereon/models.py
  tests/fixtures/kamereon/error/forbidden.json
Due: ruff-check, ruff-format

Drop deprecated has_contract_for_endpoint (#1544)
  src/renault_api/renault_vehicle.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Add new ForbiddenException (#1545)
  src/renault_api/kamereon/exceptions.py
  src/renault_api/kamereon/models.py
  tests/fixtures/kamereon/error/forbidden.json
Due: ruff-check, ruff-format

Drop warn_on_method
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format

Update code coverage configuration
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Enable stale action
  .github/workflows/stale.yaml
Due: check-yaml

Update code coverage configuration (#1547)
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Adjust
  .github/workflows/stale.yaml
Due: check-yaml

Update models.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Enable stale action (#1548)
  .github/workflows/stale.yaml
Due: check-yaml

Drop warn_on_method (#1546)
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format

Add new endpoint for charging-settings
  docs/endpoints/vehicle_data.charging-settings.rst
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures/kamereon/vehicle_data/kcm-ev-settings.json
Due: ruff-check, ruff-format

Fix duplicate endpoint documentation
  docs/endpoints.rst
Due: none

Update fixture
  docs/endpoints/vehicle_data.charging-settings.rst
  tests/fixtures/kamereon/vehicle_data/kcm-ev-settings.empty.json
  tests/fixtures/kamereon/vehicle_data/kcm-ev-settings.json
  tests/fixtures/kamereon/vehicle_data/kcm-ev-settings.scheduled.json
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format

Fix duplicate endpoint documentation (#1549)
  docs/endpoints.rst
Due: none

Add new alternate endpoint for charging-settings (#1542)
  docs/endpoints/vehicle_data.charging-settings.rst
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures/kamereon/vehicle_data/kcm-ev-settings.empty.json
  tests/fixtures/kamereon/vehicle_data/kcm-ev-settings.scheduled.json
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format

Add documentation and fixture for soc-levels endpoint
  docs/endpoints.rst
  docs/endpoints/vehicle_data.soc-levels.rst
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures/kamereon/vehicle_data/kcm-ev-soc-levels.json
Due: ruff-check, ruff-format

Adjust
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format

Update fixture
  tests/fixtures/kamereon/vehicle_data/kcm-ev-soc-levels.json
Due: none

Add documentation and fixture for soc-levels endpoint (#1543)
  docs/endpoints.rst
  docs/endpoints/vehicle_data.soc-levels.rst
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures/kamereon/vehicle_data/kcm-ev-soc-levels.json
Due: ruff-check, ruff-format

Split KCM data endpoints
  docs/endpoints.rst
  docs/endpoints/vehicle_data.charging-settings.rst
  docs/endpoints/vehicle_kcm_data.ev-settings.rst
  docs/endpoints/vehicle_kcm_data.soc-levels.rst
  tests/fixtures/kamereon/vehicle_kcm_data/kcm-ev-settings.empty.json
  tests/fixtures/kamereon/vehicle_kcm_data/kcm-ev-settings.single.json
  tests/fixtures/kamereon/vehicle_kcm_data/kcm-ev-soc-levels.json
Due: none

Split KCM data endpoints (#1552)
  docs/endpoints.rst
  docs/endpoints/vehicle_data.charging-settings.rst
  docs/endpoints/vehicle_kcm_data.ev-settings.rst
  docs/endpoints/vehicle_kcm_data.soc-levels.rst
  tests/fixtures/kamereon/vehicle_kcm_data/kcm-ev-settings.empty.json
  tests/fixtures/kamereon/vehicle_kcm_data/kcm-ev-settings.single.json
  tests/fixtures/kamereon/vehicle_kcm_data/kcm-ev-soc-levels.json
Due: none

Update
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_data/charge-schedule.scheduled.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.multi.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.single.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Replace charging-settings with charge-settings
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Update
  src/renault_api/cli/charge/schedule.py
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/kamereon/test_kamereon_vehicle_action.py
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format

Update
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/cli/test_vehicle.py
Due: ruff-check, ruff-format

More
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle.py
  tests/cli/test_vehicle_charge.py
  tests/fixtures.py
  tests/kamereon/test_kamereon_vehicle_action.py
  tests/kamereon/test_kamereon_vehicle_data.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Adjust
  src/renault_api/cli/charge/schedule.py
  src/renault_api/kamereon/helpers.py
  src/renault_api/kamereon/models.py
  src/renault_api/kamereon/schemas.py
  src/renault_api/renault_vehicle.py
  tests/fixtures/kamereon/vehicle_data/charging-settings.multi.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.single.json
Due: ruff-check, ruff-format

Update doc
  docs/endpoints.rst
  docs/endpoints/vehicle_data.charge-schedule.rst
Due: none

Adjust
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format

Cleanup
  src/renault_api/kamereon/helpers.py
  src/renault_api/kamereon/models.py
  src/renault_api/kamereon/schemas.py
  tests/kamereon/test_kamereon_vehicle_action.py
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format

Adjust
  tests/fixtures/kamereon/vehicle_data/charge-schedule.single.json
Due: none

Adjust
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Adjust
  src/renault_api/cli/charge/schedule.py
  tests/cli/__snapshots__/test_vehicle_charge.ambr
Due: ruff-check, ruff-format

Adjust
  src/renault_api/kamereon/models.py
  tests/fixtures.py
Due: ruff-check, ruff-format

Adjust
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Add charge-schedule endpoint (#1550)
  docs/endpoints.rst
  docs/endpoints/vehicle_data.charge-schedule.rst
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_data/charge-schedule.single.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
