Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: Lint code with Ruff
  entry: ruff check
  language: system
  require_serial: true

ruff-format:
  name: Format code with Ruff
  entry: ruff format
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

Refactor charging settings injection for vehicle
  tests/fixtures.py
Due: ruff-check, ruff-format, trailing-whitespace

Update comment for charge settings mode in tests
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Update charge-mode endpoint mode to kca-charge-settings
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Update charging settings endpoint mode to kca-charge-settings
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update mode check for charge settings to kca-charge-settings
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Bump to 0.5.4
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump to 0.5.4 (#1963)
  pyproject.toml
Due: check-toml, trailing-whitespace

Move constraints to root to fix releasing
  .github/dependabot.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  constraints.txt
Due: check-yaml, trailing-whitespace

Bump version to 0.5.5
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version to 0.5.5 (#1967)
  pyproject.toml
Due: check-toml, trailing-whitespace

Update renovate and disable dependabot
  .github/dependabot.yml
  .github/renovate.json
Due: check-yaml, trailing-whitespace

Update renovate and disable dependabot (#1970)
  .github/dependabot.yml
  .github/renovate.json
Due: check-yaml, trailing-whitespace

Add get_charging_settings to renault_vehicle.py. Issue #1888
  src/renault_api/renault_vehicle.py
  tests/cli/test_vehicle.py
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_data/charging-settings.always.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.delayed.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Corrected file to show only added lines
  tests/cli/test_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Update tests/test_renault_vehicle.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Apply suggestion from @epenet
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Add get_charging_settings to renault_vehicle (#1973)
  src/renault_api/renault_vehicle.py
  tests/cli/test_vehicle.py
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_data/charging-settings.always.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.delayed.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Implement create_charge_schedule function
  src/renault_api/kamereon/helpers.py
Due: ruff-check, ruff-format, trailing-whitespace

Bump version from 0.5.5 to 0.5.6
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version to 0.5.6 (#1983)
  pyproject.toml
Due: check-toml, trailing-whitespace

Add test to cover more helper functions
  src/renault_api/kamereon/helpers.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures/vehicle_action/charge-schedule.empty.json
  tests/fixtures/vehicle_action/charge-schedule.scheduled.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Delete tests/fixtures/vehicle_action/charge-schedule.empty.json
  tests/fixtures/vehicle_action/charge-schedule.empty.json
Due: trailing-whitespace

Delete tests/fixtures/vehicle_action/charge-schedule.scheduled.json
  tests/fixtures/vehicle_action/charge-schedule.scheduled.json
Due: trailing-whitespace

Moving files to correct folder.
  tests/fixtures/kamereon/vehicle_action/charge-schedule.empty.json
  tests/fixtures/kamereon/vehicle_action/charge-schedule.scheduled.json
Due: trailing-whitespace

Correct imports in test_renault_vehicle
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Add charge-start with delayed option
  src/renault_api/cli/charge/control.py
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_kcm_action/charging-start.delayed.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Fix timezone format in charge start command test
  tests/cli/test_vehicle_charge.py
Due: ruff-check, ruff-format, trailing-whitespace

Update startDateTime in vehicle charge snapshot
  tests/cli/__snapshots__/test_vehicle_charge.ambr
Due: none

Fix timezone handling in set_charge_start test
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Update startDateTime in vehicle snapshot test
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Simplify `when` type check in delayed mode
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Add documentation for XDD1VE (Renault Master IV E-Tech)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/fixtures/kamereon/expected_specs.json
  tests/fixtures/kamereon/vehicle_details/master_iv.1.json
  tests/fixtures/kamereon/vehicles/master_iv.1.json
Due: ruff-check, ruff-format, trailing-whitespace

Add documentation for XDD1VE (Renault Master IV E-Tech) (#1999)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/fixtures/kamereon/expected_specs.json
  tests/fixtures/kamereon/vehicle_details/master_iv.1.json
  tests/fixtures/kamereon/vehicles/master_iv.1.json
Due: ruff-check, ruff-format, trailing-whitespace

Drop env
  .github/workflows/release.yml
Due: check-yaml, trailing-whitespace

Cleanup deprecated setting
  .github/workflows/release.yml
Due: check-yaml, trailing-whitespace

Cleanup deprecated setting (#2009)
  .github/workflows/release.yml
Due: check-yaml, trailing-whitespace

Rename pause-resume endpoint definitions
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Rename pause-resume endpoint definitions (#2011)
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Adjust
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Rename test constants
  tests/fixtures.py
Due: ruff-check, ruff-format, trailing-whitespace

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  trailing-whitespace: any file but: \.ambr$
