Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ruff-check
        name: Lint code with Ruff
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: Format code with Ruff
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        exclude: \.ambr$
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

add get battery soc limits method and return type
  src/renault_api/kamereon/models.py
  src/renault_api/kamereon/schemas.py
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

add soc levels test
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

run precommit hook
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

pass data to type
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Add vehicle method to get soc limits (#1613)
  src/renault_api/kamereon/models.py
  src/renault_api/kamereon/schemas.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

mark several endpoints for renault 5
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

truncate to appease linter
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

update snapshots
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: none

Document more renault 5 endpoints (#1625)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Add json on tests/fixtures for Austral XHN1SU Related to #1655
  tests/fixtures/kamereon/vehicle_data/cockpit.austral_XHN1SU.json
  tests/fixtures/kamereon/vehicle_data/location.austral_XHN1SU.json
  tests/fixtures/kamereon/vehicles/austral_XHN1SU.1.json
Due: trailing-whitespace

Format files
  tests/fixtures/kamereon/vehicle_data/cockpit.austral_XHN1SU.json
  tests/fixtures/kamereon/vehicle_data/location.austral_XHN1SU.json
  tests/fixtures/kamereon/vehicles/austral_XHN1SU.1.json
Due: trailing-whitespace

Snapshot update
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: none

Update endpoints
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Add json on tests/fixtures for Austral XHN1SU (#1673)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/fixtures/kamereon/vehicle_data/cockpit.austral_XHN1SU.json
  tests/fixtures/kamereon/vehicle_data/location.austral_XHN1SU.json
  tests/fixtures/kamereon/vehicles/austral_XHN1SU.1.json
Due: ruff-check, ruff-format, trailing-whitespace

Update pyproject.toml
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version to 0.4.0 (#1682)
  pyproject.toml
Due: check-toml, trailing-whitespace

Document Scenic endpoints
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Document Scenic endpoints (#1696)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Support for XCB1VE
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update models.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update snapshots
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: none

Megane E-Tech support (XCB1VE) (#1723)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Apply suggestions from code review
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: check-yaml, trailing-whitespace

Update undocumented message
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update undocumented message (#1727)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Bump version to 0.4.1
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version to 0.4.1 (#1730)
  pyproject.toml
Due: check-toml, trailing-whitespace

Document XJB1SU (CAPTUR II)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/fixtures/kamereon/expected_specs.json
Due: ruff-check, ruff-format, trailing-whitespace

Document XJB1SU (CAPTUR II) (#1748)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/fixtures/kamereon/expected_specs.json
Due: ruff-check, ruff-format, trailing-whitespace

Document X102VE (ZOE II)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Document X102VE (ZOE II) (#1749)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Document X101VE (ZOE I)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Migrate to trusted publishing
  .github/workflows/release.yml
Due: check-yaml, trailing-whitespace

Document X101VE (ZOE I) (#1750)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Migrate to trusted publishing (#1751)
  .github/workflows/release.yml
Due: check-yaml, trailing-whitespace

Document XFB2BI (Megane IV)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Document XFB2BI (Megane IV) (#1752)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Bump version to 0.4.2
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version to 0.4.2 (#1753)
  pyproject.toml
Due: check-toml, trailing-whitespace

Revert "Migrate to trusted publishing (#1751)"
  .github/workflows/release.yml
Due: check-yaml, trailing-whitespace
