Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ruff-check
        name: Lint code with Ruff
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: Format code with Ruff
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        exclude: \.ambr$
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Update snapshot
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Megane e-Tech model update. (#2033)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

security: warn about disabled JWT signature verification + fix credential file permissions
  src/renault_api/credential.py
  src/renault_api/credential_store.py
Due: ruff-check, ruff-format, trailing-whitespace

Update Dacia Spring XBG1VE endpoints for `horn-start` and `lights-start` due to error: "The access is forbidden"
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update Dacia Spring XBG1VE endpoints for HVAC
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: support Renault 5 E-Tech (UK model)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/fixtures.py
  tests/fixtures/kamereon/Contributions.rst
  tests/fixtures/kamereon/vehicle_data/battery-status.renault_5_uk.json
  tests/fixtures/kamereon/vehicle_data/cockpit.renault_5_uk.json
  tests/fixtures/kamereon/vehicle_data/hvac-status.renault_5_uk.json
  tests/fixtures/kamereon/vehicle_data/location.renault_5_uk.json
  tests/fixtures/kamereon/vehicles/renault_5.uk.json
  tests/kamereon/__snapshots__/test_kamereon_vehicle_data.ambr
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format, trailing-whitespace

Add refresh location
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Add refresh location docs
  docs/endpoints.rst
  docs/endpoints/vehicle_action.refresh-location.rst
Due: trailing-whitespace

Fix linting and formatting issues in Renault 5 E-Tech tests
  tests/fixtures/kamereon/vehicle_data/battery-status.renault_5_uk.json
  tests/fixtures/kamereon/vehicle_data/cockpit.renault_5_uk.json
  tests/fixtures/kamereon/vehicle_data/hvac-status.renault_5_uk.json
  tests/fixtures/kamereon/vehicle_data/location.renault_5_uk.json
  tests/fixtures/kamereon/vehicles/renault_5.uk.json
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format, trailing-whitespace

fix alphabetical order
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: add support for refresh-location action
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_action/refresh-location.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

refactor: rename renault_5_uk to renault_5.2 and update tests
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/cli/test_vehicle.py
  tests/fixtures/kamereon/vehicle_data/battery-status.renault_5_2.json
  tests/fixtures/kamereon/vehicle_data/cockpit.renault_5_2.json
  tests/fixtures/kamereon/vehicle_data/hvac-status.renault_5_2.json
  tests/fixtures/kamereon/vehicle_data/location.renault_5_2.json
  tests/fixtures/kamereon/vehicles/renault_5.2.json
  tests/kamereon/__snapshots__/test_kamereon_vehicle_data.ambr
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format, trailing-whitespace

Remove unrelated vehicles
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Add refresh location (#2071)
  docs/endpoints.rst
  docs/endpoints/vehicle_action.refresh-location.rst
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_action/refresh-location.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Update snapshots
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Update documentation for XBG1VE (Dacia Spring) (#2054)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Add battery status information (#2070)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/cli/test_vehicle.py
  tests/fixtures.py
  tests/fixtures/kamereon/Contributions.rst
  tests/fixtures/kamereon/vehicle_data/battery-status.renault_5_2.json
  tests/fixtures/kamereon/vehicle_data/cockpit.renault_5_2.json
  tests/fixtures/kamereon/vehicle_data/hvac-status.renault_5_2.json
  tests/fixtures/kamereon/vehicle_data/location.renault_5_2.json
  tests/fixtures/kamereon/vehicles/renault_5.2.json
  tests/kamereon/__snapshots__/test_kamereon_vehicle_data.ambr
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format, trailing-whitespace

Update link for undocumented models
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Fix invalid snapshot
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Fix invalid snapshot (#2079)
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Adjust
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update link for undocumented models (#2078)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

feat: document all endpoints for R5E1VE model
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

feat: document all endpoints for R5E1VE model (#2080)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

chore: bump version to 0.5.8
  pyproject.toml
Due: check-toml, trailing-whitespace

Document action endpoints for model XJA2VP (Clio V HEV)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Add vehicle actions to Renault vehicle snapshot
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Update documentation for XJA2VP (Clio V) (#2083)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Bump version to 0.5.8 (#2081)
  pyproject.toml
Due: check-toml, trailing-whitespace

XCB1VE and XJB1SU endpoints
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

fix descriptions and endopoints
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Change Gigya API keys in const.py
  src/renault_api/const.py
Due: ruff-check, ruff-format, trailing-whitespace

Fix fr_FR Gigya API key
  src/renault_api/const.py
Due: ruff-check, ruff-format, trailing-whitespace

Update API keys - all EU appear the same
  src/renault_api/const.py
Due: ruff-check, ruff-format, trailing-whitespace

XCB1VE and XJB1SU endpoints (#2087)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Migrate safety to use policy-file
  .safety-policy.yml
  noxfile.py
Due: check-yaml, ruff-check, ruff-format, trailing-whitespace

Migrate safety to use policy-file (#2103)
  .safety-policy.yml
  noxfile.py
Due: check-yaml, ruff-check, ruff-format, trailing-whitespace

Update snapshots
  tests/__snapshots__/test_api_keys.ambr
Due: none

Fix ruff
  src/renault_api/const.py
Due: ruff-check, ruff-format, trailing-whitespace
