Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ruff-check
        name: Lint code with Ruff
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: Format code with Ruff
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        exclude: \.ambr$
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Add Python 3.14 to CI (#1889)
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml, ruff-check, ruff-format, trailing-whitespace

Use Python 3.14 in readthedocs
  .readthedocs.yml
  pyproject.toml
Due: check-toml, check-yaml, trailing-whitespace

Use Python 3.14 in readthedocs (#1891)
  .readthedocs.yml
  pyproject.toml
Due: check-toml, check-yaml, trailing-whitespace

As per @epenet request, keep the existing signature here, and just pass in the type as "single.active", "single.inactive", "multi.active"
  tests/fixtures.py
Due: ruff-check, ruff-format, trailing-whitespace

Add new samples
  docs/endpoints/vehicle_kcm_data.ev-settings.rst
Due: trailing-whitespace

Use pytest.mark.parametrize to keep generic testing functions + adapt ambr files accordingly
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

fix: use KCM pause-resume endpoint for charge stop on ZOE phase 2
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Apply suggestions from code review
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Comment
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Document more endpoints for model X102VE (Zoe II) (#1867)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Drop xdoctest
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

Drop xdoctest (#1894)
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

Reset default Python to 3.10 in CI
  .github/workflows/tests.yml
Due: check-yaml, trailing-whitespace

Adjust
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml, ruff-check, ruff-format, trailing-whitespace

Simplify Python version selection in nox (#1895)
  noxfile.py
Due: ruff-check, ruff-format, trailing-whitespace

Simplify
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Improve charge schedule display in CLI (#1875)
  docs/endpoints/vehicle_kcm_data.ev-settings.rst
  src/renault_api/cli/charge/schedule.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_charge.ambr
  tests/cli/test_vehicle_charge.py
  tests/fixtures/kamereon/vehicle_kcm_data/ev-settings.multi.active.json
  tests/fixtures/kamereon/vehicle_kcm_data/ev-settings.single.active.json
  tests/fixtures/kamereon/vehicle_kcm_data/ev-settings.single.inactive.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Cleanup secondary dependencies
  poetry.lock
  pyproject.toml
Due: check-toml, trailing-whitespace

Cleanup secondary dependencies (#1896)
  poetry.lock
  pyproject.toml
Due: check-toml, trailing-whitespace

Update readthedocs configuration
  docs/conf.py
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, ruff-check, ruff-format, trailing-whitespace

Remove contents table
  docs/endpoints.rst
  docs/reference/gigya.rst
  docs/reference/kamereon.rst
  docs/reference/renault_api.rst
Due: trailing-whitespace

CLI requirements
  docs/requirements.txt
Due: trailing-whitespace

Title underline too short
  docs/endpoints.rst
Due: trailing-whitespace

requirements
  .readthedocs.yml
  docs/requirements.txt
Due: check-yaml, trailing-whitespace

_Contributor Guide
  docs/endpoints/vehicle_action.charge-mode.rst
  docs/endpoints/vehicle_action.charge-schedule.rst
  docs/endpoints/vehicle_action.charging-start.rst
  docs/endpoints/vehicle_action.hvac-schedule.rst
  docs/endpoints/vehicle_action.hvac-start.rst
  docs/endpoints/vehicle_data.hvac-history.rst
  docs/endpoints/vehicle_data.hvac-sessions.rst
  docs/endpoints/vehicle_data.notification-settings.rst
Due: trailing-whitespace

Update readthedocs configuration (#1897)
  .readthedocs.yml
  docs/conf.py
  docs/endpoints.rst
  docs/endpoints/vehicle_action.charge-mode.rst
  docs/endpoints/vehicle_action.charge-schedule.rst
  docs/endpoints/vehicle_action.charging-start.rst
  docs/endpoints/vehicle_action.hvac-schedule.rst
  docs/endpoints/vehicle_action.hvac-start.rst
  docs/endpoints/vehicle_data.hvac-history.rst
  docs/endpoints/vehicle_data.hvac-sessions.rst
  docs/endpoints/vehicle_data.notification-settings.rst
  docs/reference/gigya.rst
  docs/reference/kamereon.rst
  docs/reference/renault_api.rst
  docs/requirements.txt
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

Add PrivacyModeOnException to handle privacy mode
  src/renault_api/kamereon/exceptions.py
Due: ruff-check, ruff-format, trailing-whitespace

Add PrivacyModeOnException to error handling
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Add runtime code + add/adapt test code
  src/renault_api/cli/__main__.py
  src/renault_api/cli/hornlights/__init__.py
  src/renault_api/cli/hornlights/commands.py
  src/renault_api/cli/hornlights/control.py
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_hornlights.ambr
  tests/cli/test_vehicle_hornlights.py
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_action/hornlights-horn.json
  tests/fixtures/kamereon/vehicle_action/hornlights-lights.json
  tests/fixtures/kamereon/vehicles/alpine_A290.1.json
Due: ruff-check, ruff-format, trailing-whitespace

Some formatting issues:....
  src/renault_api/cli/hornlights/control.py
  tests/cli/__snapshots__/test_vehicle_hornlights.ambr
  tests/cli/test_vehicle_hornlights.py
  tests/fixtures/kamereon/vehicle_action/hornlights-horn.json
  tests/fixtures/kamereon/vehicle_action/hornlights-lights.json
Due: ruff-check, ruff-format, trailing-whitespace

Sort endpoints in alphabetical order
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

As per @epenet suggestion, I made "horn" and "lights" main commands instead of 2 subcommands of a "hornlights" main command. I also adapted the test code.
  src/renault_api/cli/__main__.py
  src/renault_api/cli/hornlights/__init__.py
  src/renault_api/cli/hornlights/commands.py
  src/renault_api/cli/hornlights/control.py
  tests/cli/test_vehicle_hornlights.py
Due: ruff-check, ruff-format, trailing-whitespace

As per @epenet suggestion, refactor horn/lights test code and put code in common with existing tests.
  tests/cli/test_vehicle_hornlights.py
  tests/fixtures.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Tweak tests
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle_hornlights.ambr
  tests/cli/test_vehicle.py
  tests/cli/test_vehicle_hornlights.py
Due: ruff-check, ruff-format, trailing-whitespace

Tweak tests
  tests/cli/__snapshots__/test_vehicle.ambr
Due: none

Add horn and lights to CLI (#1900)
  src/renault_api/cli/__main__.py
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/__snapshots__/test_vehicle.ambr
  tests/cli/test_vehicle.py
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_action/hornlights-horn.json
  tests/fixtures/kamereon/vehicle_action/hornlights-lights.json
  tests/fixtures/kamereon/vehicles/alpine_A290.1.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Update src/renault_api/kamereon/models.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Add privacy_on.json error fixture for functional tests
  tests/fixtures/kamereon/error/privacy_on.json
Due: trailing-whitespace

Update privacy error messages to reflect current status (#1898)
  tests/fixtures/kamereon/error/privacy_on.json
Due: trailing-whitespace

Add test for vehicle privacy on error handling (#1898)
  tests/kamereon/test_kamereon_error.py
Due: ruff-check, ruff-format, trailing-whitespace
