Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        name: Lint code with Ruff
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: Format code with Ruff
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Update HVAC schedule
  src/renault_api/kamereon/helpers.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Fix E501 Line too long
  src/renault_api/kamereon/helpers.py
Due: ruff-check, ruff-format

Changes made by Ruff
  src/renault_api/kamereon/helpers.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Update unit tests
  tests/kamereon/test_kamereon_vehicle_action.py
Due: ruff-check, ruff-format

added plugstate as 3 for waiting for charge
  src/renault_api/kamereon/enums.py
Due: ruff-check, ruff-format

Apply suggestions from code review
  src/renault_api/kamereon/enums.py
Due: ruff-check, ruff-format

Add unconfirmed plug state 3 (#1304)
  src/renault_api/kamereon/enums.py
Due: ruff-check, ruff-format

Process violations
  tests/conftest.py
  tests/gigya/test_gigya.py
  tests/kamereon/test_kamereon.py
  tests/test_api_keys.py
  tests/test_renault_account.py
  tests/test_renault_client.py
  tests/test_renault_session.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Bump version to 0.2.6
  pyproject.toml
Due: check-toml

Bump version to 0.2.6 (#1305)
  pyproject.toml
Due: check-toml

Restated old method names and marked them as deprecated
  src/renault_api/kamereon/helpers.py
Due: ruff-check, ruff-format

Rollback hvac_schedule
  src/renault_api/kamereon/helpers.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Rollback tests
  tests/kamereon/test_kamereon_vehicle_action.py
Due: ruff-check, ruff-format

Rename charge_schedule helpers (#1306)
  src/renault_api/kamereon/helpers.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Add helper methods to update HVAC schedules (#1301)
  src/renault_api/kamereon/helpers.py
  src/renault_api/kamereon/models.py
  tests/kamereon/test_kamereon_vehicle_action.py
Due: ruff-check, ruff-format

Bump version to 0.2.7
  pyproject.toml
Due: check-toml

Bump version to 0.2.7 (#1307)
  pyproject.toml
Due: check-toml

Fix for failing tests on CI with no locale set
  tests/cli/test_account.py
  tests/cli/test_client.py
  tests/cli/test_vehicle.py
Due: ruff-check, ruff-format

Fix for failing tests on CI with no locale set (#1311)
  tests/cli/test_account.py
  tests/cli/test_client.py
  tests/cli/test_vehicle.py
Due: ruff-check, ruff-format

Adjust
  .github/workflows/tests.yml
Due: check-yaml

Return empty data not None on missing attributes
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Raise on missing data/attributes
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Revert "Raise on missing data/attributes"
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Fix
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Add tests
  tests/fixtures/kamereon/vehicle_data/no_data.json
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format

Return empty data on missing attributes (#1389)
  src/renault_api/kamereon/models.py
  tests/fixtures/kamereon/vehicle_data/no_data.json
  tests/kamereon/test_kamereon_vehicle_data.py
Due: ruff-check, ruff-format

Bump version to 0.2.8
  pyproject.toml
Due: check-toml

Bump version to 0.2.8 (#1390)
  pyproject.toml
Due: check-toml

Added SCENIC E-TECH (XCB1SE)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

feat: Type pressure
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/models.py
  src/renault_api/kamereon/schemas.py
  src/renault_api/renault_vehicle.py
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_data/tyre-pressure.json
  tests/kamereon/test_kamereon_vehicle_data.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Added SCENIC E-TECH (XCB1SE) (#1405)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format

Lint
  src/renault_api/cli/renault_vehicle.py
  src/renault_api/kamereon/models.py
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_data/tyre-pressure.json
  tests/kamereon/test_kamereon_vehicle_data.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format

Fix tests
  tests/cli/test_vehicle.py
  tests/fixtures.py
Due: ruff-check, ruff-format

One more
  tests/cli/test_vehicle.py
Due: ruff-check, ruff-format
