Repository hacf-fr/renault-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-check, ruff-format, trailing-whitespace

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: Lint code with Ruff
  entry: ruff check
  language: system
  require_serial: true

ruff-format:
  name: Format code with Ruff
  entry: ruff format
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

Update vehicle endpoints for Renault E E-Tech
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Fix formatting in vehicle endpoints for clarity
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Add documentation for A4E1VE (Renault R4 E-Tech) (#1926)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Bump version to 0.5.3
  pyproject.toml
Due: check-toml, trailing-whitespace

Bump version to 0.5.3 (#1934)
  pyproject.toml
Due: check-toml, trailing-whitespace

Add charging-settings support for Megane e-Tech (#1888)
  src/renault_api/kamereon/__init__.py
  src/renault_api/kamereon/exceptions.py
  src/renault_api/kamereon/helpers.py
  src/renault_api/kamereon/models.py
  src/renault_api/kamereon/schemas.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures.py
  tests/fixtures/kamereon/error/charge_mode_inprogress.json
  tests/fixtures/kamereon/vehicle_action/charging-settings.always.json
  tests/fixtures/kamereon/vehicle_kcm_data/charging-settings.always.json
  tests/fixtures/kamereon/vehicle_kcm_data/charging-settings.delayed.json
  tests/fixtures/kamereon/vehicle_kcm_data/charging-settings.scheduled.json
  tests/kamereon/test_kamereon_error.py
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Add missing documentation for Symbioz
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Apply suggestions from code review
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update documentation for XJB2CP (Symbioz) (#1936)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Add charging-settings support for Megane e-Tech (#1888)
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Add charging-settings support for Megane e-Tech (#1888)
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Add charging-settings support for Megane e-Tech (hacf-fr#1888)
  tests/fixtures/kamereon/error/charge_mode_inprogress.json
Due: trailing-whitespace

Add charging-settings support for Megane e-Tech (hacf-fr#1888)
  tests/fixtures/kamereon/vehicle_action/charging-settings.always.json
Due: trailing-whitespace

Add charging-settings support for Megane e-Tech (hacf-fr#1888)
  tests/fixtures/kamereon/vehicle_kcm_data/charging-settings.always.json
Due: trailing-whitespace

Add charging-settings support for Megane e-Tech (hacf-fr#1888)
  tests/fixtures/kamereon/vehicle_kcm_data/charging-settings.delayed.json
Due: trailing-whitespace

Add charging-settings support for Megane e-Tech (#1888)
  tests/fixtures/kamereon/vehicle_kcm_data/charging-settings.scheduled.json
Due: trailing-whitespace

Add charging-settings support for Megane e-Tech (hacf-fr#1888)
  tests/fixtures/kamereon/vehicle_kcm_data/charging-settings.scheduled.json
Due: trailing-whitespace

Add charging-settings support for Megane e-Tech (#1888)
  tests/fixtures/kamereon/vehicle_action/charging-settings.always.json
Due: trailing-whitespace

Add charge actions to MEGANE E-TECH model
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update src/renault_api/kamereon/models.py
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Update vehicle endpoints in snapshot tests
  tests/__snapshots__/test_renault_vehicle.ambr
Due: none

Update documentation for XCB1VE (Megane E-TECH) (#1941)
  src/renault_api/kamereon/models.py
  tests/__snapshots__/test_renault_vehicle.ambr
Due: ruff-check, ruff-format, trailing-whitespace

Adding charge mode in progress error
  src/renault_api/kamereon/exceptions.py
  src/renault_api/kamereon/models.py
  tests/fixtures/kamereon/error/charge_mode_inprogress.json
  tests/kamereon/test_kamereon_error.py
Due: ruff-check, ruff-format, trailing-whitespace

Add charge mode in progress error (#1942)
  src/renault_api/kamereon/exceptions.py
  src/renault_api/kamereon/models.py
  tests/fixtures/kamereon/error/charge_mode_inprogress.json
  tests/kamereon/test_kamereon_error.py
Due: ruff-check, ruff-format, trailing-whitespace

Fix violations
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Get charge mode via charge settings
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/cli/test_vehicle.py
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_kcm_data/charge-settings.always.json
  tests/fixtures/kamereon/vehicle_kcm_data/charge-settings.delayed.json
  tests/fixtures/kamereon/vehicle_kcm_data/charge-settings.scheduled.json
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Fix missing newline at end of JSON file
  tests/fixtures/kamereon/vehicle_kcm_data/charge-settings.delayed.json
Due: trailing-whitespace

Add 'Charge mode' to vehicle snapshot
  tests/cli/__snapshots__/test_vehicle.ambr
Due: none

Refactor lambda function for clarity
  src/renault_api/kamereon/models.py
Due: ruff-check, ruff-format, trailing-whitespace

Use charging-settings
  src/renault_api/kamereon/models.py
  src/renault_api/renault_vehicle.py
  tests/__snapshots__/test_renault_vehicle.ambr
  tests/fixtures.py
  tests/fixtures/kamereon/vehicle_data/charging-settings.always.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.delayed.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.scheduled.json
Due: ruff-check, ruff-format, trailing-whitespace

Update charge settings injection for Megane e-Tech test
  tests/test_renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Fix newline at end of charging-settings.delayed.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.delayed.json
Due: trailing-whitespace

Correct id in jsons
  tests/fixtures/kamereon/vehicle_data/charging-settings.always.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.delayed.json
  tests/fixtures/kamereon/vehicle_data/charging-settings.scheduled.json
Due: trailing-whitespace

Update charge mode string to 'always_charging'
  src/renault_api/renault_vehicle.py
Due: ruff-check, ruff-format, trailing-whitespace

Update charge mode from 'always_charge' to 'always_charging'
  tests/cli/__snapshots__/test_vehicle.ambr
Due: none

Delete tests/fixtures/kamereon/vehicle_kcm_data/charge-settings.always.json
  tests/fixtures/kamereon/vehicle_kcm_data/charge-settings.always.json
Due: trailing-whitespace

Delete tests/fixtures/kamereon/vehicle_kcm_data/charge-settings.delayed.json
  tests/fixtures/kamereon/vehicle_kcm_data/charge-settings.delayed.json
Due: trailing-whitespace

Delete tests/fixtures/kamereon/vehicle_kcm_data/charge-settings.scheduled.json
  tests/fixtures/kamereon/vehicle_kcm_data/charge-settings.scheduled.json
Due: trailing-whitespace

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  trailing-whitespace: any file but: \.ambr$
